@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --roses-clr: #bf2a2a;
    --sky-clr: #3d3da6;
    --castle-clr: #676565;
    --sunset-clr: #fec769;
}

/* Custom */
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    height: 100vh;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide {
    position: absolute;
    height: 100%;
    width: 35vw;
    top: 0;
    left: 0;
}

.left-slide > div:nth-child(1) {
    height: 100%;
    width: 100%;
    color: #fff;
}

.right-slide > div:nth-child(4) {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.left-slide h1 {
    font-size: 3.2rem;
    margin-bottom: 10px;
    margin-top: -30px;
}

/* Right slide Images */
.bg-flower {
    background: url('../img/flower.jpg');
}

.bg-sky {
    background: url('../img/blue-sky.jpg');
}

.bg-castle {
    background: url('../img/lonely-castle.jpg')
}

.bg-bi-planes {
    background: url('../img/bi-plane.jpg');
}

/* right slide Images END */

.right-slide {
    position: absolute;
    height: 100%;
    width: 65vw;
    top: 0;
    left: 35vw;
}
